body {
       overflow: hidden;
   }
   
.logo{
       text-align: center;
       font:smaller;
       text-transform: initial;
}
.main{
       width: 20%;
       height: 400px;
       background-color:#94bbe9;     
       border-radius: 10px; 
       margin: 50px 40% 0px 40%;
       background-image: url(./img/backgroundlogin.jpg);
       background-size:cover;
}
.form-group{
       width: 70%;
       height: 50px;
       /* margin: 0px 35% 0px 30%; */
       margin: 20px auto;
       
}
.form-label{
       width: 90px;
       height: 20px;
       color: white;
}
#fullname, #email,#password {
       background-color: transparent; /* Làm cho nền trong suốt */
       border: 1px solid #ccc; /* Bạn có thể điều chỉnh màu viền hoặc loại bỏ nó */
       border-radius: 5px; /* Bán kính góc cho viền */
       font-size: 16px; /* Điều chỉnh kích thước font */
       padding: 5px 8px; /* Đệm cho input */
       color: #ffffff; /* Màu của text */
       outline: none; /* Loại bỏ viền nổi bật khi focus */
       
}
#fullname :hover{
       display: flex;
       border-color: aqua;

       
}




#submit{
       color: white;
       display: block;
       margin-top: 50px;
       margin: 10px auto;
       border-radius: 10px;
       background-color: transparent;
}



.ion--logo-html5 {
       margin-left: 35%;
       color: red;
       display: inline-block;
       width: 1em;
       height: 1em;
       --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m64 32l34.94 403.21L255.77 480L413 435.15L448 32Zm308 132H188l4 51h176l-13.51 151.39L256 394.48l-98.68-28l-6.78-77.48h48.26l3.42 39.29L256 343.07l53.42-14.92L315 264H148l-12.59-149.59H376.2Z'/%3E%3C/svg%3E");
       background-color: currentColor;
       -webkit-mask-image: var(--svg);
       mask-image: var(--svg);
       -webkit-mask-repeat: no-repeat;
       mask-repeat: no-repeat;
       -webkit-mask-size: 100% 100%;
       mask-size: 100% 100%;
     }
.ion--logo-css3 {
       color: blue;
       margin-left: 5px;
       display: inline-block;
       width: 1em;
       height: 1em;
       --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m64 32l35 403.22L255.77 480L413 435.15L448 32Zm290.68 334.9L256.07 395l-98.46-28.24l-6.75-77.76h48.26l3.43 39.56l53.59 15.16l.13.28l53.47-14.85l5.64-64.15H203l-4-50h120.65l4.35-51H140l-4-49h240.58Z'/%3E%3C/svg%3E");
       background-color: currentColor;
       -webkit-mask-image: var(--svg);
       mask-image: var(--svg);
       -webkit-mask-repeat: no-repeat;
       mask-repeat: no-repeat;
       -webkit-mask-size: 100% 100%;
       mask-size: 100% 100%;
     }
.ion--logo-javascript {
       color: yellow;
       margin-left: 5px;
       display: inline-block;
       width: 1em;
       height: 1em;
       --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M32 32v448h448V32Zm240 348c0 43.61-25.76 64.87-63.05 64.87c-33.68 0-53.23-17.44-63.15-38.49l34.28-20.75c6.61 11.73 11.63 21.65 26.06 21.65c12 0 21.86-5.41 21.86-26.46V240h44Zm99.35 63.87c-39.09 0-64.35-17.64-76.68-42L329 382c9 14.74 20.75 24.56 41.5 24.56c17.44 0 27.57-7.72 27.57-19.75c0-14.43-10.43-19.54-29.68-28l-10.52-4.52c-30.38-12.92-50.52-29.16-50.52-63.45c0-31.57 24.05-54.63 61.64-54.63c26.77 0 46 8.32 59.85 32.68L396 290c-7.22-12.93-15-18-27.06-18c-12.33 0-20.15 7.82-20.15 18c0 12.63 7.82 17.74 25.86 25.56l10.52 4.51c35.79 15.34 55.94 31 55.94 66.16c.01 37.9-29.76 57.64-69.76 57.64'/%3E%3C/svg%3E");
       background-color: currentColor;
       -webkit-mask-image: var(--svg);
       mask-image: var(--svg);
       -webkit-mask-repeat: no-repeat;
       mask-repeat: no-repeat;
       -webkit-mask-size: 100% 100%;
       mask-size: 100% 100%;
     }
.radix-icons--github-logo {
       margin-left: 5px;
       display: inline-block;
       width: 1em;
       height: 1em;
       --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M7.5.25a7.25 7.25 0 0 0-2.292 14.13c.363.066.495-.158.495-.35c0-.172-.006-.628-.01-1.233c-2.016.438-2.442-.972-2.442-.972c-.33-.838-.805-1.06-.805-1.06c-.658-.45.05-.441.05-.441c.728.051 1.11.747 1.11.747c.647 1.108 1.697.788 2.11.602c.066-.468.254-.788.46-.969c-1.61-.183-3.302-.805-3.302-3.583a2.8 2.8 0 0 1 .747-1.945c-.075-.184-.324-.92.07-1.92c0 0 .61-.194 1.994.744A6.963 6.963 0 0 1 7.5 3.756A6.97 6.97 0 0 1 9.315 4c1.384-.938 1.992-.743 1.992-.743c.396.998.147 1.735.072 1.919c.465.507.745 1.153.745 1.945c0 2.785-1.695 3.398-3.31 3.577c.26.224.492.667.492 1.343c0 .97-.009 1.751-.009 1.989c0 .194.131.42.499.349A7.25 7.25 0 0 0 7.499.25' clip-rule='evenodd'/%3E%3C/svg%3E");
       background-color: currentColor;
       -webkit-mask-image: var(--svg);
       mask-image: var(--svg);
       -webkit-mask-repeat: no-repeat;
       mask-repeat: no-repeat;
       -webkit-mask-size: 100% 100%;
       mask-size: 100% 100%;
     }